
extends layout

block content
  h1= title
  form(id='sculptureForm', action="/resource/sculptures", method="POST")
    div.form-group
      label.sculptureAttr(for='sculpture_name') Sculpture Name
      input#site_name(type='text', name='sculpture_name', required=true)
    div.form-group
      label.sculptureAttr(for='sculpture_material') Sculprure material
      input#location(type='text', name='origin', required=true)
    div.form-group
      label.sculptureAttr(for='sculpture_height') Sculpture height 
      input#year_established(type='number', name='sculpture_height', required=true)
    input(type="submit", value="Create")
  
  script.
    document.forms['sculptureForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // Show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });