extends layout

block content
  h1= title
  form(id='SculptureForm', action="/resource/Sculptures", method="POST")
    div.form-group
      label.SculptureAttr(for='Sculpture_name') Sculpture name
      input#Sculpture_name(type='text', name='Sculpture_name', required=true)
    div.form-group
      label.SculptureAttr(for='Sculptures_material') Sculpture Material
      input#Sculptures_material(type='text', name='Sculptures_material', required=true)
    div.form-group
      label.SculptureAttr(for='Sculptures_height') Sculptures height
      input#Sculptures_height(type='number', name='Sculptures_height', required=true)
    input(type="submit", value="Create")
  
  script.
    document.forms['SculptureForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // Show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });
