doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Sculptures Search Results
  body
    h1 Sculptures Search Results
    .container-fluid 
    .row 

    ul
      each sculpture in results
        li
          strong Type:
          |  #{sculpture.sculpture_type} |
          strong Size:
          |  #{sculpture.size} |
          strong Cost:
          |  #{sculpture.cost}
    