extends layout

block content
  h1 Sculptures Search Results
  ul
    
    each sculpture in results
      li
        strong Name:
        = sculpture.sculpture_name
        br
        strong Height:
        = sculpture.Sculptures_height
        br
        strong Material:
        = sculpture.Sculptures_material
